    // @import "reset";
    .header__page2 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .fleche {
            position: absolute;
            left: 5%;
        }
    }
    
    .menu {
        img {
            width: 100%;
            height: 250px;
            //  object-fit: cover rend l'image plus nette
            object-fit: cover;
        }
        h2 {
            font-size: 1.5rem;
            font-family: var(--font-family-s);
            margin-left: 20px;
        }
        h3 {
            margin: 0;
        }
        .coeur__coeur {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // 
        }
        .change {
            color: black;
            cursor: pointer;
        }
        & .change:hover {
            animation: change 0.3s ease-in-out;
            display: inline-block;
            opacity: 1;
            background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
            background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bold;
        }
        .la__palettedugout {
            margin-top: -21px;
            background-color: #f6f6f6;
            border-radius: 20px 20px 0px 0px;
            position: relative;
        }
        @media (min-width: 1275px) and (max-width: 2000px) {
            .flex__menu {
                display: flex;
                justify-content: space-around;
            }
            .food__menu {
                width: 402px;
            }
            .plat {
                width: 402px;
            }
            .desserts {
                width: 402px;
            }
            .alignement__alignement p {
                padding-right: 21px;
            }
        }
    }
    
    // titre
    .tittre__trait {
        margin-left: 20px;
    }
    
    .tit__tit {
        text-transform: uppercase;
        border-bottom: 4px solid var(--tertiaire);
        width: 40px;
        padding-bottom: 5px;
    }
    
    .chargement {
        animation: fadein 3s ease-in-out;
    }
    
    .entrée__entrée {
        background-color: #fff;
        border-radius: 15px;
        margin: 10px;
        padding: 10px;
        box-shadow: 4px 4px 6px rgb(243, 238, 238);
        position: relative;
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: padding-right 450ms ease-in-out;
    }
    
    .entrée__entrée:hover {
        padding-right: 75px;
    }
    
    .entrée__entrée:hover .validation {
        opacity: 1;
        transform: translate(-50px);
    }
    
    .entrée__entrée:hover .fa-check-circle {
        transform: rotate(360deg);
    }
    
    .entrée__entrée:hover .prix__total {
        font-weight: bold;
    }
    
    .entrée__entrée:hover {
        padding-right: 73px;
    }
    
    .alignement__alignement {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 1.5em;
    }
    
    .alignement__alignement p {
        // whitespace nowrap lui fait sortir du contenu
        // overflow hidden permet de cacher ce qui dépasse.
        // les 3 petit point se font avec text-overflow ellipsis.
        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    
    .prix__total {
        margin-right: 5px;
    }
    
    .validation {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--tertiaire);
        width: 50px;
        height: 67px;
        border-radius: 0px 15px 15px 0px;
        position: absolute;
        padding: 20px;
        top: 0;
        opacity: 0;
        right: -50px;
        transition: transform 332ms ease-in-out;
    }
    
    .validation .fa-check-circle {
        color: #fff;
        transition: transform 502ms ease-in-out;
    }
    
    .buttons {
        background-color: var(--primaire);
        cursor: pointer;
        background: linear-gradient(to left, #9356dc, #ad3fe1, #cf64dc, #ba53af, #8d51d5);
        font-weight: bold;
        width: 170px;
        border-radius: 30px;
        padding: 15px;
        color: #fff;
        width: 25%;
        text-align: center;
        margin: auto;
        margin-bottom: 12%;
        box-shadow: 0px 3px 7px -3px #4e4e4e;
        margin-top: 6%;
    }
    
    .buttons:hover {
        box-shadow: 5px 5px 7px grey;
        background: linear-gradient(to left, #a174d8, #b771d8, #cd78d6, #b66bae, #9e74d1);
    }